html {
    font-size: 12px;
    -webkit-font-smoothing: antialiased; 
    box-sizing: border-box; 
    *, *:before, *:after {
        box-sizing: inherit; 
    }
}

body {
    background-color: #ffffff;
    font-family: "Roboto", helvetica, georgia; 
    letter-spacing: 0.03rem;
}

/*Editing the header*/

.top-navigation {
    width: 100%;
    position: fixed; 
    background: #ffffff;
    z-index: 9999; /*    high z-index value insures this element stays on top of all other elements*/

}

.top-navigation > .header {
    height: 4.375rem; 
    width: 65rem;
    margin: 0 auto;
    padding-top: 2em;
}

.links  {
    float: right;
}

nav ul li {
    display: inline-block;
    margin-left: 1.5em;
    float: left; 
    font-size: 1.3em;
}

nav ul li a {
    color: #838994;
    text-decoration: none;
    
}

nav a:hover {
    color: #383838;
    text-decoration: none;
    
}

nav ul li:first-child {
    font-weight: 500;
}

/*Main Section*/

section.intro {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
    overflow: auto;
}

.main-copy {
    text-align: center;
}

section h1, section p {
    color: white; 
    font-weight: 100;
    font-size: 4em;
}

section p {
    font-size: 1.8em;
    margin-top: -0.5em;
}

.main-copy {
    padding-top: 20rem;
}

button {
    margin-top: 2rem; 
    padding: 1rem 4rem;
    color: white; 
    border: 1px solid #f15a29; 
    border-radius: 4px; 
    background-color: #f15a29; 
    font-size: 1.3em;
}

button:hover {
    margin-top: 2rem; 
    padding: 1rem 4rem;
    color: white; 
    border: 1px solid #db4412; 
    border-radius: 4px; 
    background-color: #db4412; 
    font-size: 1.3em;
}

/*Middle Sectrion*/

section.middle { 
    text-align: center;
    padding-top: 4em 0;

}

 section h2 {
    font-size: 3em;
    font-weight: 300;
}

.middle > .benefits {
    list-style: none;
    display: inline-block;
}

.benefits li {
    float: left;
    padding: 0 2rem;
}

h3 {
    font-size: 2em;
    font-weight: 100;
}

hr {
    width: 80%;
    border-color: rgba(0, 0, 0, 0.1); 
}

/*Footer*/

.footer {
    text-align: center;
}

.icons {
    margin: 0;
    display: inline-block;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/*
.twitter, .facebook, .instagram {
    border: 1px solid black;
    border-radius: 100%;
    padding: 3em;
}
*/

.icons > li {
    border-radius: 100%;
    width: 4rem;
    height: 3rem;
    display: inline-block;
    margin: 0.5rem 5px;
    border: 1px solid #eaebec;
    padding: .5rem 0 .5rem 0;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0.5em 0; 
}

.twitter {
    color: #55acee; 
}

.facebook {
    color: #4c66a4; 
}

.instagram {
    color: #3f729b; 
}

.footer p {
    font-size: 1.5em;
    color: gray;
}

.footer h6 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #555555;
    font-weight: 100;
}


/*header ul {
    margin: 0;
    padding: 0;
}*/

